/* .container{
  padding-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.p-candidates{
  font-size: 1.4rem;
}
 */
span{
  font-size: 1.5rem;
  color: rgb(180, 178, 178);
}



